

@model IEnumerable<APIInsideExistingMVCProject.Models.APIEFs.Customer>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Phone</th>
                    <th>Company Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var customer in Model)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.EmailAddress</td>
                    <td>@customer.Phone</td>
                    <td>@customer.CompanyName</td>
                </tr>
            }
            </tbody>
        </table>        
    </div>   
</div>